{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Addresses{% endblock %}</h1>
  <a class="action" href="{{ url_for('address.register') }}">New</a>
{% endblock %}

{% block content %}
  {% for address in addresses %}
    <article class="post">
      <div class="body">
        <p>{{ address['street'] }}, {{ address['number'] }} - {{ address['district'] }}</p>
        <p>{{ address['city'] }} / {{ address['state'] }} - {{ address['country'] }}</p>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}