{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ address['street'] }}, {{ address['number'] }} - {{ address['district'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="number">Number</label>
    <input name="number" id="number" value="{{ request.form['number'] or address['number'] }}" required>
    <label for="street">Street</label>
    <input name="street" id="street" value="{{ request.form['street'] or address['street'] }}" required>
    <label for="district">District</label>
    <input name="district" id="district" value="{{ request.form['district'] or address['district'] }}" required>
    <label for="city">City</label>
    <input name="city" id="city" value="{{ request.form['city'] or address['city'] }}" required>
    <label for="state">State</label>
    <input name="state" id="state" value="{{ request.form['state'] or address['state'] }}" required>
    <label for="country">Country</label>
    <input name="country" id="country" value="{{ request.form['country'] or address['country'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}